body {
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center; /* Center align text by default */
}

header {
    background-color: #71CC00;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.sensor-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.sensor-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(113, 204, 0, 0.3) 0%, rgba(90, 242, 251, 0.3) 100%);
    text-align: center;
    width: 400px;
}

.sensor-value {
    font-size: 1.5em;
    font-weight: bold;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust height as needed */
    margin: 20px 0;
}

#sensorChart {
    max-width: 100%; /* Adjust max width if needed */
}

.button-container, .export-button-container, .controls-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #71CC00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: linear-gradient(45deg, rgba(113, 204, 0, 0.3) 0%, rgba(90, 242, 251, 0.3) 100%);
    color: #333;
}

.suggestions {
    background-color: #71CC00;
    padding: 20px;
    margin: 20px 0;
    border-top: 1px solid #ddd;
}

#suggestionsText {
    font-size: 1.2em;
    color: #333;
}
